.imageSearch-form input{
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #34495e;
    padding-bottom: 8px;
    width: 25%;
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-top: 15px;
}